<!DOCTYPE html>
<html>
<head>
<title>5vue</title>
<link rel="stylesheet" href="./style.css">
<script src="https://unpkg.com/vue@next"></script>
</head>
<body>
<div id="app">
	<div class="cart">Cart({{ cart }})</div>
	<div class="product-display">
		<div class="product-container">
			<div class="product-image">
				<img v-bind:src="image">
			</div>
			<div class="product-info">
				<h1>{{ product }}</h1>
				<p v-if='inStock'>in stock</p>
				<p v-else>out of stock</p>
				<ul>
					<li v-for="detail in details">{{ detail }}</li>
				</ul>
				<div v-for="variant in variants" :key="variant.id" @mouseover="updateImage(variant.image)">{{ variant.colour }}</div>
				<button class="button" v-on:click="addToCart">Add to Cart</button>
			</div>
		</div>
	</div>
</div>
<script src="./main.js"></script>
<script>
	const mountedApp = app.mount('#app')
</script>
</body>
</html>